.Notification {
    border-radius: 5px;
    font-size: 20px;
    border-style: solid;
    background: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}

.Notification.success {
    color: green;
    border-color: green;
}

.Notification.error {
    color: red;
    border-color: red;
}